html {
  font-family: 'Helvetica Neue', 'Nimbus Sans L', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
section,
header,
footer {
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  -webkit-overflow-scrolling: touch;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
fieldset,
img {
  border: 0;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
textarea,
input,
select {
  resize: none;
  appearance: caret;
  -webkit-appearance: caret;
  -moz-appearance: caret;
  -ms-appearance: caret;
  -o-appearance: caret;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
}
ul,
ol {
  list-style: none;
}
li {
  display: block;
}
a,
a:hover,
a:active,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
.html ul,
.html ol {
  list-style: disc inside !important;
  margin: 1.12em 0;
  margin-left: 2.5em;
}
.html ol {
  list-style-type: decimal !important;
}
.html li {
  display: list-item;
}
.hide {
  display: none !important;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hflexbox {
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
}
.vflexbox {
  display: box;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
}
.space {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
}
.fixed,
.scrim {
  position: fixed;
  z-index: 1000;
}
.scrim {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.highlight {
  background-color: rgba(0,0,0,0.1) !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.clear {
  clear: both;
}
.animation-fade-in {
  animation: fade-in 0.3s ease-out 1;
  -webkit-animation: fade-in 0.3s ease-out 1;
  -moz-animation: fade-in 0.3s ease-out 1;
  -ms-animation: fade-in 0.3s ease-out 1;
  -o-animation: fade-in 0.3s ease-out 1;
}
.animation-fade-out {
  animation: fade-out 0.3s ease-out 1;
  -webkit-animation: fade-out 0.3s ease-out 1;
  -moz-animation: fade-out 0.3s ease-out 1;
  -ms-animation: fade-out 0.3s ease-out 1;
  -o-animation: fade-out 0.3s ease-out 1;
}
.animation-fly-up {
  animation: fly-up 0.3s ease-out 1;
  -webkit-animation: fly-up 0.3s ease-out 1;
  -moz-animation: fly-up 0.3s ease-out 1;
  -ms-animation: fly-up 0.3s ease-out 1;
  -o-animation: fly-up 0.3s ease-out 1;
}
.animation-fly-down {
  animation: fly-down 0.3s ease-out 1;
  -webkit-animation: fly-down 0.3s ease-out 1;
  -moz-animation: fly-down 0.3s ease-out 1;
  -ms-animation: fly-down 0.3s ease-out 1;
  -o-animation: fly-down 0.3s ease-out 1;
}
.animation-fly-left {
  animation: fly-left 0.3s ease-out 1;
  -webkit-animation: fly-left 0.3s ease-out 1;
  -moz-animation: fly-left 0.3s ease-out 1;
  -ms-animation: fly-left 0.3s ease-out 1;
  -o-animation: fly-left 0.3s ease-out 1;
}
.animation-fly-right {
  animation: fly-right 0.3s ease-out 1;
  -webkit-animation: fly-right 0.3s ease-out 1;
  -moz-animation: fly-right 0.3s ease-out 1;
  -ms-animation: fly-right 0.3s ease-out 1;
  -o-animation: fly-right 0.3s ease-out 1;
}
article.mpage {
  position: relative;
  z-index: 10;
  width: 20em;
  margin: auto;
}
article.mpage .mpage-content {
  padding-bottom: 1px;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fly-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 1.875em, 0);
    -webkit-transform: translate3d(0, 1.875em, 0);
    -moz-transform: translate3d(0, 1.875em, 0);
    -ms-transform: translate3d(0, 1.875em, 0);
    -o-transform: translate3d(0, 1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fly-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 1.875em, 0);
    -webkit-transform: translate3d(0, 1.875em, 0);
    -moz-transform: translate3d(0, 1.875em, 0);
    -ms-transform: translate3d(0, 1.875em, 0);
    -o-transform: translate3d(0, 1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes fly-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 1.875em, 0);
    -webkit-transform: translate3d(0, 1.875em, 0);
    -moz-transform: translate3d(0, 1.875em, 0);
    -ms-transform: translate3d(0, 1.875em, 0);
    -o-transform: translate3d(0, 1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 1.875em, 0);
    -webkit-transform: translate3d(0, 1.875em, 0);
    -moz-transform: translate3d(0, 1.875em, 0);
    -ms-transform: translate3d(0, 1.875em, 0);
    -o-transform: translate3d(0, 1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes fly-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -1.875em, 0);
    -webkit-transform: translate3d(0, -1.875em, 0);
    -moz-transform: translate3d(0, -1.875em, 0);
    -ms-transform: translate3d(0, -1.875em, 0);
    -o-transform: translate3d(0, -1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fly-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -1.875em, 0);
    -webkit-transform: translate3d(0, -1.875em, 0);
    -moz-transform: translate3d(0, -1.875em, 0);
    -ms-transform: translate3d(0, -1.875em, 0);
    -o-transform: translate3d(0, -1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes fly-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -1.875em, 0);
    -webkit-transform: translate3d(0, -1.875em, 0);
    -moz-transform: translate3d(0, -1.875em, 0);
    -ms-transform: translate3d(0, -1.875em, 0);
    -o-transform: translate3d(0, -1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -1.875em, 0);
    -webkit-transform: translate3d(0, -1.875em, 0);
    -moz-transform: translate3d(0, -1.875em, 0);
    -ms-transform: translate3d(0, -1.875em, 0);
    -o-transform: translate3d(0, -1.875em, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes fly-left {
  0% {
    opacity: 0;
    transform: translate3d(1.875em, 0, 0);
    -webkit-transform: translate3d(1.875em, 0, 0);
    -moz-transform: translate3d(1.875em, 0, 0);
    -ms-transform: translate3d(1.875em, 0, 0);
    -o-transform: translate3d(1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fly-left {
  0% {
    opacity: 0;
    transform: translate3d(1.875em, 0, 0);
    -webkit-transform: translate3d(1.875em, 0, 0);
    -moz-transform: translate3d(1.875em, 0, 0);
    -ms-transform: translate3d(1.875em, 0, 0);
    -o-transform: translate3d(1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes fly-left {
  0% {
    opacity: 0;
    transform: translate3d(1.875em, 0, 0);
    -webkit-transform: translate3d(1.875em, 0, 0);
    -moz-transform: translate3d(1.875em, 0, 0);
    -ms-transform: translate3d(1.875em, 0, 0);
    -o-transform: translate3d(1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@keyframes fly-left {
  0% {
    opacity: 0;
    transform: translate3d(1.875em, 0, 0);
    -webkit-transform: translate3d(1.875em, 0, 0);
    -moz-transform: translate3d(1.875em, 0, 0);
    -ms-transform: translate3d(1.875em, 0, 0);
    -o-transform: translate3d(1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes fly-right {
  0% {
    opacity: 0;
    transform: translate3d(-1.875em, 0, 0);
    -webkit-transform: translate3d(-1.875em, 0, 0);
    -moz-transform: translate3d(-1.875em, 0, 0);
    -ms-transform: translate3d(-1.875em, 0, 0);
    -o-transform: translate3d(-1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fly-right {
  0% {
    opacity: 0;
    transform: translate3d(-1.875em, 0, 0);
    -webkit-transform: translate3d(-1.875em, 0, 0);
    -moz-transform: translate3d(-1.875em, 0, 0);
    -ms-transform: translate3d(-1.875em, 0, 0);
    -o-transform: translate3d(-1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes fly-right {
  0% {
    opacity: 0;
    transform: translate3d(-1.875em, 0, 0);
    -webkit-transform: translate3d(-1.875em, 0, 0);
    -moz-transform: translate3d(-1.875em, 0, 0);
    -ms-transform: translate3d(-1.875em, 0, 0);
    -o-transform: translate3d(-1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
@keyframes fly-right {
  0% {
    opacity: 0;
    transform: translate3d(-1.875em, 0, 0);
    -webkit-transform: translate3d(-1.875em, 0, 0);
    -moz-transform: translate3d(-1.875em, 0, 0);
    -ms-transform: translate3d(-1.875em, 0, 0);
    -o-transform: translate3d(-1.875em, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}
